.main {
  min-height: 100vh;
  background-color: #FFF;
  padding: 0;
}

.main_logo {
  color: #010f25;
  text-align: left;
  font-size: 1.6rem;
  font-family: 'Noto Sans', sans-serif;
  padding: 2px 0px;
}

.balance  {
  margin: 20px 0px;
  background-color: #24FEB7;
  padding: 15px;
  width: 200px;
  text-align: center;
}

.balance h3 {
  font-size: 1.2rem;
  font-family: 'Noto Sans', sans-serif;
  color: #010f25;
}

.sidebar_pushable {
  height: 100vh;
  padding: 0;
}
